// * Global styles (Шрифты, переменные)
@use 'vars';
@use 'fonts';
@use 'settings';
@use 'interface';

// * Main styles
@use './chunk/header';
@use './chunk/hero';
@use './chunk/directions';
@use './chunk/company';
@use './chunk/partners';
@use './chunk/products';
@use './chunk/projects';
@use './chunk/news';
@use './chunk/questions';
@use './chunk/spollers';
@use './chunk/vacancies';
@use './chunk/tabs';
@use './chunk/footer';
