.company {
	&__title {
		margin-bottom: 86px;

		@media (max-width: 992px) {
			margin-bottom: 40px;
		}
	}
}

.company-content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 90px;

	&__video {
		flex-shrink: 0;
		border-radius: 20px;
		width: clamp(300px, 40%, 560px);
		background-color: var(--accent-color);
		aspect-ratio: 16 / 9;

		@media (max-width: 1200px) {
			width: 100%;
			max-width: 485px;
		}

		@media (max-width: 992px) {
			margin: 0 auto;
		}

		@media (min-width: 992px) {
			width: 560px;
		}
	}

	@media (max-width: 992px) {
		flex-direction: column;
		gap: 40px;
		margin-bottom: 40px;
	}
}

.company-info {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 485px;

	&__text {
		line-height: 120%;
	}

	&__link {
		@media (max-width: 992px) {
			margin: 0 auto;
		}
	}

	@media (max-width: 992px) {
		margin: 0 auto;
		gap: 40px;
	}
}

.decor-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 80px;

	&__card {
		flex: 0 0 100%;
	}

	&__card-img {
		overflow: hidden;
		border-radius: 20px;
		width: 300px;
		height: 200px;
		min-width: 250px;
		max-width: 100%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__card:last-child {
		flex: 1 1 calc(65% - 15px);
		min-width: 0;
	}

	@media (max-width: 1200px) {
		&__card {
			flex: 1 1 calc(50% - 15px);
		}

		&__card:first-child {
			flex: 1 1 calc(50% - 15px);
		}

		&__card:last-child {
			flex: 1 1 100%;
		}

		&__card-img {
			flex: 1 1 calc(50% - 15px);
		}
	}

	@media (max-width: 992px) {
		margin-bottom: 40px;
		gap: 40px;
	}

	@media (max-width: 768px) {
		margin: 0 auto;
		margin-bottom: 80px;
		max-width: 500px;

		&__card,
		&__card-img {
			flex: 0 0 100%;
			width: 100%;
		}
	}

	@media (max-width: 576px) {
		margin-bottom: 0;
	}
}

.decor-card {
	display: flex;
	border-radius: 20px;
	min-height: 200px;
	background-color: var(--light-bg-color);

	&__text {
		display: flex;
		align-items: center;
		gap: 30px;
		line-height: 125%;

		&--big-width {
			gap: 15px;

			@media (max-width: 768px) {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		&--big {
			font-family: var(--font-second);
			font-weight: 700;
			font-size: 100px;
			line-height: 80%;
			color: var(--accent-color);
		}

		&--small-width {
			max-width: 360px;

			@media (max-width: 992px) {
				flex-direction: column;
				gap: 15px;
				align-items: flex-start;
			}
		}
	}

	&--padding-big {
		padding: 60px 110px;
		background-image: url('@img/company/decor-bg.svg');
		background-position: right;
		background-repeat: no-repeat;

		@media (max-width: 1200px) {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 35px;
			background-image: none;
		}
	}

	&--padding-small {
		padding: 60px 35px 60px 50px;

		@media (max-width: 576px) {
			padding: 35px;
		}
	}
}

.company-cards {
	display: grid;
	align-items: stretch;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;

	@media (max-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: 1fr;

		.company-card {
			margin: 0 auto;
			width: 100%;
			max-width: 400px;
		}
	}

	@media (max-width: 576px) {
		display: none;
	}
}

.company-card {
	display: flex;
	flex-direction: column;
	gap: 35px;

	&__img {
		overflow: hidden;
		border-radius: 20px;
		width: 100%;
		aspect-ratio: 16 / 9;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		a {
			display: inline;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
