.footer {
	padding-top: 100px;
	background-color: var(--light-bg-color);

	&__container {
		display: flex;
		flex-direction: column;
		padding-bottom: 40px;
		gap: 40px;

		&--padding-sm {
			padding: 40px 45px;
		}
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		&--jc-center {
			flex-wrap: wrap;

			@media (max-width: 576px) {
				justify-content: center;
			}
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 43px;

		&--wide {
			align-items: flex-end;
		}
	}

	&__logo.logo {
		gap: 15px;

		.logo__text {
			font-size: 11px;
		}

		.logo__text::before {
			width: 2px;
			height: 25px;
		}
	}

	&__contacts {
		display: flex;
		flex-wrap: wrap;
		padding-top: 15px;
		height: fit-content;
		gap: 40px 50px;
		max-width: 546px;

		@media (max-width: 1200px) {
			display: none;
		}

		/* stylelint-disable-next-line order/order */
		&--mobile {
			display: flex;
			flex-wrap: wrap;
			gap: 40px;
			max-width: none;

			@media (min-width: 1201px) {
				display: none;
			}
		}
	}

	&__decor-block {
		width: 398px;
		height: 160px;
		background-image: url('@img/footer/decor-block.svg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		@media (max-width: 1200px) {
			display: none;
		}
	}
}

.footer-info {
	display: flex;
	flex-direction: column;
	gap: 5px;

	&__text {
		all: unset;
		font-size: 20px;
		color: var(--link-color);
	}
}

.modal-links {
	display: flex;
	gap: 15px;

	&__link {
		border: 2px solid var(--link-color);
		padding: 17px 18px;
		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
		background-color: transparent;

		&:hover {
			background-color: var(--accent-color);
		}

		@media (max-width: 576px) {
			width: 100%;
		}
	}

	@media (max-width: 576px) {
		flex-direction: column;
	}
}

.contacts-card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 248px;

	&__links {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}

.contacts-text {
	all: unset;
	margin: 0;
	font-size: 20px;
	color: var(--link-color);
}

.contacts-link {
	font-size: 20px;
	color: var(--link-color);

	&:hover {
		text-decoration: underline;
	}
}

.map {
	border-radius: 20px;
	width: 100%;
	min-height: 342px;
	max-width: 560px;
	background-color: var(--accent-color);
}
