.partners {
	&__title {
		margin-bottom: 65px;

		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}

	&__wrap {
		position: relative;
		margin-bottom: 60px;
		padding: 0 55px;

		@media (max-width: 768px) {
			margin-bottom: 30px;
			padding: 0;
			padding-bottom: 30px;
		}
	}

	&-slider {
		.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			min-height: 105px;

			img {
				max-width: 100%;
				max-height: 100%;
				object-fit: contain;
			}

			@media (max-width: 768px) {
				min-height: 70px;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			position: absolute;
			z-index: 1;
		}
	}

	&__nav {
		width: fit-content;
		height: 30px;
		color: var(--light-color);
	}

	&__link {
		@media (max-width: 576px) {
			width: 100%;
			max-width: 100%;
		}
	}
}
