@use 'mixins/adaptive-font' as *;

.spollers {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	gap: 10px;
}

.spoller {
	border-radius: 10px;
	background-color: var(--light-bg-color);

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
		padding: 26px 37px;
		cursor: pointer;
		user-select: none;

		&::marker {
			content: '';
			font-size: 0;
		}

		@media (max-width: 768px) {
			padding: 10px 30px;
		}
	}

	&__icon {
		position: relative;
		display: inline-block;
		flex-shrink: 0;
		width: 22px;
		height: 22px;
		text-align: center;

		&::before,
		&::after {
			content: '';
			position: absolute;
			background-color: var(--accent-color);
		}

		&::before {
			right: 0;
			top: 50%;
			width: 100%;
			height: 2px;
			transform: translateY(-50%);
		}

		&::after {
			right: 50%;
			top: 0;
			width: 2px;
			height: 100%;
			transform: translateX(50%);
			transition: transform 0.3s;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		@include adaptive-font(24, 14);

		@media (max-width: 768px) {
			font-weight: 400;
		}
	}

	&__content {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.3s ease;
	}

	&__text {
		margin: 0;
		padding: 10px 37px;
		padding-bottom: 20px;

		@media (max-width: 768px) {
			padding: 10px 30px;
		}
	}

	&.open &__icon::after {
		transform: translateX(50%) rotate(90deg);
	}
}
