<section class="section">
	<div class="container container--line">
		<div class="application">
			<h2 class="application__title title title--big">
				Где применяется искусственный интеллект от НТЦ «Модуль»
			</h2>
			<p class="application__text text">
				Технологии на базе NeuroMatrix® внедряются в системах анализа изображений, промышленной
				автоматизации, безопасности&nbsp;и здравоохранения.
			</p>

			<div class="application__cards application-cards">
				<div class="application-cards__card application-card">
					<div class="application-card__img">
						<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
					</div>
					<div class="application-card__descr">
						<h3 class="application-card__title text text--big">
							Системы контроля качества и складской логистики
						</h3>
						<p class="application-card__text text">
							Обнаружение дефектов, неразрушающий контроль, трекинг продукции по штрих-кодам и QR.
						</p>
					</div>
				</div>
				<div class="application-cards__card application-card">
					<div class="application-card__img">
						<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
					</div>
					<div class="application-card__descr">
						<h3 class="application-card__title text text--big">
							Видеоаналитика и машинное зрение
						</h3>
						<p class="application-card__text text">
							Распознавание событий и объектов в реальном времени, в том числе на борту спецтехники.
						</p>
					</div>
				</div>
				<div class="application-cards__card application-card">
					<div class="application-card__img">
						<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
					</div>
					<div class="application-card__descr">
						<h3 class="application-card__title text text--big">
							Промышленная безопасность и контроль доступа
						</h3>
						<p class="application-card__text text">
							Выявление нарушений техники безопасности, контроль СИЗ, охрана периметра.
						</p>
					</div>
				</div>
				<div class="application-cards__card application-card">
					<div class="application-card__img">
						<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
					</div>
					<div class="application-card__descr">
						<h3 class="application-card__title text text--big">
							Медицина и нейродиагностика
						</h3>
						<p class="application-card__text text">
							Автоматический анализ DICOM-снимков (МРТ, КТ), поддержка принятия решений, предзаполнение протоколов.
						</p>
					</div>
				</div>
				<div class="application-cards__card application-card">
					<div class="application-card__img">
						<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
					</div>
					<div class="application-card__descr">
						<h3 class="application-card__title text text--big">
							Облачные и локальные ИИ-сервисы.
						</h3>
						<p class="application-card__text text">
							Инференс и обучение нейросетей в периферийных и серверных средах.
						</p>
					</div>
				</div>
				<div class="application__decor-block"></div>
			</div>
		</div>
	</div>
</section>