<section class="section">
	<div class="container container--line">
		<div class="application">
			<h2 class="application__title title title--big">
				Где применяется искусственный интеллект от НТЦ «Модуль»
			</h2>
			<p class="application__text text">
				Технологии на базе NeuroMatrix® внедряются в системах анализа изображений, промышленной
				автоматизации, безопасности&nbsp;и здравоохранения.
			</p>

			<div class="application__cards application-cards">
				<div class="application-slider swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="application-cards__card application-card">
								<div class="application-card__img">
									<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
								</div>
								<div class="application-card__descr">
									<h3 class="application-card__title text text--big">
										Системы контроля качества и складской логистики
									</h3>
									<p class="application-card__text text">
										Обнаружение дефектов, неразрушающий контроль, трекинг продукции по штрих-кодам и QR.
									</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="application-cards__card application-card">
								<div class="application-card__img">
									<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
								</div>
								<div class="application-card__descr">
									<h3 class="application-card__title text text--big">
										Системы контроля качества и складской логистики
									</h3>
									<p class="application-card__text text">
										Обнаружение дефектов, неразрушающий контроль, трекинг продукции по штрих-кодам и QR.
									</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="application-cards__card application-card">
								<div class="application-card__img">
									<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
								</div>
								<div class="application-card__descr">
									<h3 class="application-card__title text text--big">
										Системы контроля качества и складской логистики
									</h3>
									<p class="application-card__text text">
										Обнаружение дефектов, неразрушающий контроль, трекинг продукции по штрих-кодам и QR.
									</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="application-cards__card application-card">
								<div class="application-card__img">
									<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
								</div>
								<div class="application-card__descr">
									<h3 class="application-card__title text text--big">
										Системы контроля качества и складской логистики
									</h3>
									<p class="application-card__text text">
										Обнаружение дефектов, неразрушающий контроль, трекинг продукции по штрих-кодам и QR.
									</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="application-cards__card application-card">
								<div class="application-card__img">
									<img src="@img/application/bg-card-1.jpg" alt="Технопарк" />
								</div>
								<div class="application-card__descr">
									<h3 class="application-card__title text text--big">
										Системы контроля качества и складской логистики
									</h3>
									<p class="application-card__text text">
										Обнаружение дефектов, неразрушающий контроль, трекинг продукции по штрих-кодам и QR.
									</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="application__decor-block"></div>
						</div>
					</div>
				</div>
				<div class="application__pagination swiper-pagination"></div>

				<div class="application__nav application__nav--prev swiper-button-prev"></div>
				<div class="application__nav application__nav--next swiper-button-next"></div>

			</div>
		</div>
	</div>
</section>