<section class="section">
	<div class="container container--line">
		<div class="company">
			<h2 class="company__title title title--big">О компании</h2>

			<div class="company__content company-content">
				<div class="company-content__info company-info">
					<p class="company-info__text text text--sm">
						АО НТЦ «Модуль» более 30 лет успешно работает на российском рынке наукоемких
						технологий.С 1995 года компания создает высокопроизводительные процессорные ядра и
						аналогово-цифровые системы-на-кристалле. Сегодня, благодаря высокой квалификации
						сотрудников и самому современному оснащению, НТЦ «Модуль» разрабатывает и производит
						аппаратуру управления и контроля самых современных авиационных и космических систем,
						аппаратно-программные решения в области нейронных сетей, в том числе в части обработки
						видеопотока и изображений, навигации, связи, обнаружения и распознавания объектов,
						занимается контрактным выполнением ОКР и НИР.
					</p>
					<a class="company-info__link link link-reset" href="#/">Производство и испытания РЭА</a>
				</div>
				<div class="company-content__video"></div>
			</div>

			<div class="company__decor-cards decor-cards">
				<div class="decor-cards__card decor-card decor-card--padding-big">
					<p class="decor-card__text decor-card__text--small-width text">
						<span class="decor-card__text decor-card__text--big">35</span> лет присутствия на
						российском рынке наукоёмких технологий
					</p>
				</div>
				<div class="decor-cards__card-img">
					<img src="@img/footer/bg-card-1.jpg" alt="">
				</div>
				<div class="decor-cards__card decor-card decor-card--padding-small">
					<p class="decor-card__text decor-card__text--big-width text">
						Сотрудничество с более чем
						<span class="decor-card__text decor-card__text--big">30</span> крупными партнёрами: IBM,
						Synopsys, Fujitsu, Arm, GlobalFoundries, РКК «Энергия» и др.
					</p>
				</div>
			</div>

			<div class="company__cards company-cards">
				<div class="company-cards__card company-card">
					<div class="company-card__img">
						<img src="@img/footer/bg-card-2.jpg" alt="Технопарк" />
					</div>
					<h3 class="company-card__title text text--big">
						<a class="link-reset" href="#">
							Технопарк
						</a>
					</h3>
				</div>
				<div class="company-cards__card company-card">
					<div class="company-card__img">
						<img src="@img/footer/bg-card-2.jpg" alt="Технопарк" />
					</div>
					<h3 class="company-card__title text text--big">
						<a class="link-reset" href="#">Университетская программа</a>
					</h3>
				</div>
				<div class="company-cards__card company-card">
					<div class="company-card__img">
						<img src="@img/footer/bg-card-2.jpg" alt="Технопарк" />
					</div>
					<h3 class="company-card__title text text--big">
						<a class="link-reset" href="#">Модуль-В</a>
					</h3>
				</div>
			</div>

		</div>
	</div>
</section>