<section class="section">
	<div class="container container--line">
		<div class="directions">
			<h2 class="directions__title title title--big">
				Направления деятельности
			</h2>

			<div class="directions__cards">
				<a class="directions__card directions-card link-reset">
					<div class="directions-card__bg" style="background-image: url('@img/directions/bg-1.jpg');"></div>
					<div class="directions-card__icon" style="background-image: url('@img/directions/icon-1.svg');"></div>
					<h3 class="directions-card__title text text--big">
						Искусственный интеллект
					</h3>
				</a>
				<a class="directions__card directions-card link-reset">
					<div class="directions-card__bg" style="background-image: url('@img/directions/bg-1.jpg');"></div>
					<div class="directions-card__icon" style="background-image: url('@img/directions/icon-1.svg');"></div>
					<h3 class="directions-card__title text text--big">
						Навигация
					</h3>
				</a>
				<a class="directions__card directions-card link-reset">
					<div class="directions-card__bg" style="background-image: url('@img/directions/bg-1.jpg');"></div>
					<div class="directions-card__icon" style="background-image: url('@img/directions/icon-1.svg');"></div>
					<h3 class="directions-card__title text text--big">
						Машинное
						зрение
					</h3>
				</a>
				<a class="directions__card directions-card link-reset">
					<div class="directions-card__bg" style="background-image: url('@img/directions/bg-1.jpg');"></div>
					<div class="directions-card__icon" style="background-image: url('@img/directions/icon-1.svg');"></div>
					<h3 class="directions-card__title text text--big">
						Медицина
					</h3>
				</a>
				<a class="directions__card directions-card link-reset">
					<div class="directions-card__bg" style="background-image: url('@img/directions/bg-1.jpg');"></div>
					<div class="directions-card__icon" style="background-image: url('@img/directions/icon-1.svg');"></div>
					<h3 class="directions-card__title text text--big">
						Медицина
					</h3>
				</a>
				<a class="directions__card directions-card link-reset">
					<div class="directions-card__bg" style="background-image: url('@img/directions/bg-1.jpg');"></div>
					<div class="directions-card__icon" style="background-image: url('@img/directions/icon-1.svg');"></div>
					<h3 class="directions-card__title text text--big">
						Медицина
					</h3>
				</a>
				<a class="directions__card directions-card link-reset">
					<div class="directions-card__bg" style="background-image: url('@img/directions/bg-1.jpg');"></div>
					<div class="directions-card__icon" style="background-image: url('@img/directions/icon-1.svg');"></div>
					<h3 class="directions-card__title text text--big">
						Программно-отладочные
						средства
					</h3>
				</a>
				<div class="directions__decor-block"></div>
			</div>
		</div>
	</div>
</section>