<footer class="footer">
	<div class="footer__container container container--line">

		<div class="footer__wrap">

			<div class="footer__inner">

				<a class="footer__logo logo link-reset" href="#/">
					<img class="logo__img" src="@img/general/footer-logo.svg" alt="Логотип" />
					<span class="logo__text">Научно&#8209;технический центр</span>
				</a>

				<div class="footer__info footer-info">
					<address class="footer-info__text">
						АО НТЦ "Модуль" г. Москва, 4-я улица 8 Марта, д. 3
					</address>
					<a class="footer-info__link contacts-link link-reset" href="tel:+74955313080">Тел. +7 (495) 531-30-80</a>
					<a class="footer-info__link contacts-link link-reset" href="tel:+74991524661">ф. +7 (499) 152-46-61</a>
					<a class="footer-info__link contacts-link link-reset" href="mailto:info@module.ru">info@module.ru</a>
				</div>

				<div class="footer__modal-links modal-links">
					<a class="modal-links__link link link-reset" href="#/">вид входа</a>
					<a class="modal-links__link link link-reset" href="#/">вид въездных ворот</a>
				</div>

			</div>

			<div class="footer__contacts footer-contacts">

				<div class="footer-contacts__card contacts-card">
					<h3 class="contacts-card__title text text--bold">Отдел продаж</h3>
					<div class="contacts-card__links">
						<a class="contacts-card__link contacts-link link-reset"
							href="mailto:rusales@module.ru">rusales@module.ru</a>
						<a class="contacts-card__link contacts-link link-reset" href="tel:+74991529698">+7 (499) 152 96 98</a>
					</div>
				</div>
				<div class="footer-contacts__card contacts-card">
					<h3 class="contacts-card__title text text--bold">Пресс-служба</h3>
					<div class="contacts-card__links">
						<a class="contacts-card__link contacts-link link-reset" href="mailto:rusales@module.ru">pr@module.ru</a>
						<a class="contacts-card__link contacts-link link-reset" href="tel:+74991529698">+7(495)531-30-80</a>
					</div>
				</div>
				<div class="footer-contacts__card contacts-card">
					<h3 class="contacts-card__title text text--bold">Техническая поддержка</h3>
					<div class="contacts-card__links">
						<a class="contacts-card__link contacts-link link-reset"
							href="mailto:rusales@module.ru">nm-support@module.ru</a>
						<a class="contacts-card__link contacts-link link-reset" href="tel:+74991529698">+7 (495) 531-30-80</a>
					</div>
				</div>
				<div class="footer-contacts__card contacts-card">
					<h3 class="contacts-card__title text text--bold">Адрес для почтовых отправлений</h3>
					<div class="contacts-card__links">
						<address class="contacts-card__text contacts-text">125190, г. Москва, а/я 166</address>
					</div>
				</div>

			</div>

		</div>

		<div class="footer__wrap">

			<div class="map"></div>

			<div class="footer__inner footer__inner--wide">
				<div class="socials">
					<a class="socials__item" href="#/" style="background-image: url('@img/general/telegram-socials.svg');"
						target="_blank"></a>
					<a class="socials__item" href="#/" style="background-image: url('@img/general/vk-socials.svg');"
						target="_blank"></a>
				</div>
				<div class="footer__decor-block"></div>
			</div>

		</div>

	</div>
</footer>