<section class="section section--mobile-none">
	<div class="container container--pb-30 container--line">
		<div class="breadcrumbs">
			<a class="breadcrumbs__link link-reset" href="#/">Главная</a>
			<a class="breadcrumbs__link link-reset" href="#/">Продукты</a>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="page-products">
			<h2 class="page-products__title title title--big">
				Продукты
			</h2>

			<div class="products-tabs tabs">
				<div class="products-tabs__header tabs__header">
					<div class="tabs__header-item active">
						<div class="tabs__header-item--bg" style="background-image: url('@img/directions/icon-1.svg');"></div>
						<span>Микроэлектро-ника</span>
					</div>
					<div class="tabs__header-item">
						<div class="tabs__header-item--bg" style="background-image: url('@img/directions/icon-1.svg');"></div>
						<span>Модули</span>
					</div>
					<div class="tabs__header-item">
						<div class="tabs__header-item--bg" style="background-image: url('@img/directions/icon-1.svg');"></div>
						<span>Бортовое оборудование</span>
					</div>
					<div class="tabs__header-item">
						<div class="tabs__header-item--bg" style="background-image: url('@img/directions/icon-1.svg');"></div>
						<span>Программно-аппаратные комплексы (ПАК)</span>
					</div>
					<div class="tabs__header-item">
						<div class="tabs__header-item--bg" style="background-image: url('@img/directions/icon-1.svg');"></div>
						<span>Программное обеспечение</span>
					</div>
					<div class="tabs__header-item">
						<div class="tabs__header-item--bg" style="background-image: url('@img/directions/icon-1.svg');"></div>
						<span>Производство и испытания РЭА</span>
					</div>
				</div>
				<div class="products-tabs__content tabs__content">
					<div class="tabs__content-item tab1">
						<div class="page-products__cards">
							<div class="page-products__card page-products-card">
								<div class="page-products-card__img page-products-card__img--min">
									<p class="page-products-card__footnote">
										Включен в перечень по 719 и 878
										<br>
										Постановлению Правительства РФ
									</p>
									<img src="@img/products/page-products-card-1.png" alt="Фото продукта">
								</div>
								<h3 class="page-products-card__title">СБИС К1879ВМ8Я</h3>
								<p class="page-products-card__descr text">
									Микросхема интегральная К1879ВМ8Я представляет собой гетерогенный многоядерный процессор цифровой
									обработки сигналов на
									базе оригинальной архитектуры NeuroMatrix с управляющих RISC-ядром.
								</p>
								<a class="link link--semibold link--min link--transparent link-reset" href="#">
									Подробное описание
								</a>
							</div>
							<div class="page-products__card page-products-card">
								<div class="page-products-card__img">
									<img src="@img/products/page-products-card-1.png" alt="Фото продукта">
								</div>
								<h3 class="page-products-card__title">СБИС К1879ВМ8Я</h3>
								<p class="page-products-card__descr text">
									Микросхема интегральная К1879ВМ8Я представляет собой гетерогенный многоядерный процессор цифровой
									обработки сигналов на
									базе оригинальной архитектуры NeuroMatrix с управляющих RISC-ядром.
								</p>
								<a class="link link--semibold link--min link--transparent link-reset" href="#">
									Подробное описание
								</a>
							</div>
							<div class="page-products__card page-products-card">
								<div class="page-products-card__img">
									<img src="@img/products/page-products-card-1.png" alt="Фото продукта">
								</div>
								<h3 class="page-products-card__title">СБИС К1879ВМ8Я</h3>
								<p class="page-products-card__descr text">
									Микросхема интегральная К1879ВМ8Я представляет собой гетерогенный многоядерный процессор цифровой
									обработки сигналов на
									базе оригинальной архитектуры NeuroMatrix с управляющих RISC-ядром.
								</p>
								<a class="link link--semibold link--min link--transparent link-reset" href="#">
									Подробное описание
								</a>
							</div>
							<div class="page-products__card page-products-card">
								<div class="page-products-card__img">
									<img src="@img/products/page-products-card-1.png" alt="Фото продукта">
								</div>
								<h3 class="page-products-card__title">СБИС К1879ВМ8Я</h3>
								<p class="page-products-card__descr text">
									Микросхема интегральная К1879ВМ8Я представляет собой гетерогенный многоядерный процессор цифровой
									обработки сигналов на
									базе оригинальной архитектуры NeuroMatrix с управляющих RISC-ядром.
								</p>
								<a class="link link--semibold link--min link--transparent link-reset" href="#">
									Подробное описание
								</a>
							</div>
						</div>
					</div>
					<div class="tabs__content-item tab2">2</div>
					<div class="tabs__content-item tab3">3</div>
					<div class="tabs__content-item tab4">4</div>
					<div class="tabs__content-item tab5">5</div>
					<div class="tabs__content-item tab6">6</div>
				</div>
			</div>
		</div>
	</div>
</section>