<section class="section">
	<div class="container container--line">
		<div class="partners">
			<h2 class="partners__title title title--big">
				Наши партнеры
			</h2>

			<div class="partners__wrap">
				<div class="partners-slider swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="@img/partners/slide-1.png" alt="Логотип партнёра">
						</div>
						<div class="swiper-slide">
							<img src="@img/partners/slide-2.png" alt="Логотип партнёра">
						</div>
						<div class="swiper-slide">
							<img src="@img/partners/slide-3.png" alt="Логотип партнёра">
						</div>
						<div class="swiper-slide">
							<img src="@img/partners/slide-4.png" alt="Логотип партнёра">
						</div>
						<div class="swiper-slide">
							<img src="@img/partners/slide-5.png" alt="Логотип партнёра">
						</div>
						<div class="swiper-slide">
							<img src="@img/partners/slide-6.png" alt="Логотип партнёра">
						</div>
						<div class="swiper-slide">
							<img src="@img/partners/slide-6.png" alt="Логотип партнёра">
						</div>
						<div class="swiper-slide">
							<img src="@img/partners/slide-4.png" alt="Логотип партнёра">
						</div>
					</div>
				</div>
				<div class="partners__nav swiper-button-prev"></div>
				<div class="partners__nav swiper-button-next"></div>
				<div class="partners__pagination swiper-pagination"></div>
			</div>

			<a class="partners__link link link-reset" href="#">Все партнеры</a>
		</div>
	</div>
</section>