<section class="section">
	<div class="container container--line">
		<div class="products">
			<h2 class="products__title title title--big">
				Продукты
			</h2>

			<div class="products__cards">
				<a class="products__card products-card link-reset">
					<div class="products-card__bg" style="background-image: url('@img/products/bg-1.jpg');"></div>
					<div class="products-card__icon" style="background-image: url('@img/products/icon-1.svg');"></div>
					<h3 class="products-card__title text text--big">
						Искусственный интеллект
					</h3>
				</a>
				<a class="products__card products-card link-reset">
					<div class="products-card__bg" style="background-image: url('@img/products/bg-1.jpg');"></div>
					<div class="products-card__icon" style="background-image: url('@img/products/icon-1.svg');"></div>
					<h3 class="products-card__title text text--big">
						Навигация
					</h3>
				</a>
				<a class="products__card products-card link-reset">
					<div class="products-card__bg" style="background-image: url('@img/products/bg-1.jpg');"></div>
					<div class="products-card__icon" style="background-image: url('@img/products/icon-1.svg');"></div>
					<h3 class="products-card__title text text--big">
						Машинное
						зрение
					</h3>
				</a>
				<a class="products__card products-card link-reset">
					<div class="products-card__bg" style="background-image: url('@img/products/bg-1.jpg');"></div>
					<div class="products-card__icon" style="background-image: url('@img/products/icon-1.svg');"></div>
					<h3 class="products-card__title text text--big">
						Медицина
					</h3>
				</a>
				<a class="products__card products-card link-reset">
					<div class="products-card__bg" style="background-image: url('@img/products/bg-1.jpg');"></div>
					<div class="products-card__icon" style="background-image: url('@img/products/icon-1.svg');"></div>
					<h3 class="products-card__title text text--big">
						Медицина
					</h3>
				</a>
				<a class="products__card products-card link-reset">
					<div class="products-card__bg" style="background-image: url('@img/products/bg-1.jpg');"></div>
					<div class="products-card__icon" style="background-image: url('@img/products/icon-1.svg');"></div>
					<h3 class="products-card__title text text--big">
						Медицина
					</h3>
				</a>
			</div>
		</div>
	</div>
</section>