<section class="section">
	<div class="container container--line">
		<div class="projects">
			<h2 class="projects__title title title--big">
				Реализованные проекты
			</h2>

			<div class="projects__wrap">
				<div class="projects-slider swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="projects__card projects-card">
								<div class="projects-card__img">
									<img src="@img/projects/img-1.jpg" alt="Фотография проекта">
								</div>
								<h3 class="projects-card__title text text--big">
									Применение NM Pilot в Группе компаний «Ростсельмаш»
								</h3>
								<a class="projects-card__link link link--min link--transparent link-reset" href="#">Подробнее</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="projects__card projects-card">
								<div class="projects-card__img">
									<img src="@img/projects/img-1.jpg" alt="Фотография проекта">
								</div>
								<h3 class="projects-card__title text text--big">
									Применение NM Pilot в Группе компаний «Ростсельмаш»
								</h3>
								<a class="projects-card__link link link--min link--transparent link-reset" href="#">Подробнее</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="projects__card projects-card">
								<div class="projects-card__img">
									<img src="@img/projects/img-1.jpg" alt="Фотография проекта">
								</div>
								<h3 class="projects-card__title text text--big">
									Применение NM Pilot в Группе компаний «Ростсельмаш»
								</h3>
								<a class="projects-card__link link link--min link--transparent link-reset" href="#">Подробнее</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="projects__card projects-card">
								<div class="projects-card__img">
									<img src="@img/projects/img-1.jpg" alt="Фотография проекта">
								</div>
								<h3 class="projects-card__title text text--big">
									Применение NM Pilot в Группе компаний «Ростсельмаш»
								</h3>
								<a class="projects-card__link link link--min link--transparent link-reset" href="#">Подробнее</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="projects__card projects-card">
								<div class="projects-card__img">
									<img src="@img/projects/img-1.jpg" alt="Фотография проекта">
								</div>
								<h3 class="projects-card__title text text--big">
									Применение NM Pilot в Группе компаний «Ростсельмаш»
								</h3>
								<a class="projects-card__link link link--min link--transparent link-reset" href="#">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
				<div class="projects__pagination swiper-pagination"></div>

				<div class="projects__nav swiper-button-prev"></div>
				<div class="projects__nav swiper-button-next"></div>
			</div>

			<a class="projects__link link link-reset" href="#">Все проекты</a>
		</div>
	</div>
</section>