<section class="section">
	<div class="container">
		<div class="questions">
			<h2 class="questions__title title title--big">
				Часто задаваемые вопросы
			</h2>

			<div class="questions-spollers spollers">
				<details class="spoller" open="">
					<summary class="spoller__header">
						<span class="spoller__title">
							Какие продукты выпускает компания «Модуль»?
						</span>
						<span class="spoller__icon"></span>
					</summary>
					<div class="spoller__content">
						<p class="spoller__text">
							Текстик для раскрытия
						</p>
					</div>
				</details>
				<details class="spoller">
					<summary class="spoller__header">
						<span class="spoller__title">
							Производит ли компания серийную продукцию или только R&D?
						</span>
						<span class="spoller__icon"></span>
					</summary>
					<div class="spoller__content">
						<p class="spoller__text">
							Текстик для раскрытия
						</p>
					</div>
				</details>
				<details class="spoller">
					<summary class="spoller__header">
						<span class="spoller__title">
							Где можно получить техническую документацию?
						</span>
						<span class="spoller__icon"></span>
					</summary>
					<div class="spoller__content">
						<p class="spoller__text">
							Текстик для раскрытия
						</p>
					</div>
				</details>
			</div>
		</div>
	</div>
</section>