<section class="section section--mobile-none">
	<div class="container container--pb-30 container--line">
		<div class="breadcrumbs">
			<a class="breadcrumbs__link link-reset" href="#/">Главная</a>
			<a class="breadcrumbs__link link-reset" href="#/">О компании</a>
			<a class="breadcrumbs__link link-reset" href="#/">Карьера</a>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="vacancies">
			<h2 class="vacancies__title title title--big">
				Вакансии
			</h2>
			<div class="vacancies-spollers spollers">
				<details class="spoller">
					<summary class="spoller__header">
						<span class="spoller__title">
							Инженер-программист (компиляторы)
						</span>
						<span class="spoller__icon"></span>
					</summary>
					<div class="spoller__content">
						<p class="spoller__text">
							Текстик для раскрытия
						</p>
					</div>
				</details>
				<details class="spoller">
					<summary class="spoller__header">
						<span class="spoller__title">
							Производит ли компания серийную продукцию или только R&D?
						</span>
						<span class="spoller__icon"></span>
					</summary>
					<div class="spoller__content">
						<p class="spoller__text">
							Текстик для раскрытия
						</p>
					</div>
				</details>
				<details class="spoller">
					<summary class="spoller__header">
						<span class="spoller__title">
							Где можно получить техническую документацию?
						</span>
						<span class="spoller__icon"></span>
					</summary>
					<div class="spoller__content">
						<p class="spoller__text">
							Текстик для раскрытия
						</p>
					</div>
				</details>
			</div>
		</div>
	</div>
</section>